# This is a basic workflow to help you get started with Actions

name: diff-html-files

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a set of commands using the runners shell
      - name: Create list of html files
        run: |
          touch new-html-list.txt,
          find dist -name '*.html' | sort > new-html-list.txt
          diff --suppress-common-lines current-html-files.txt new-html-list.txt | grep -E '^[< > ---]' | sed 's/^[< >] //' > diff-html-list.txt
      - name: setup git config
        run: |
          # setup username and email
          git config user.name "yimy"
          git config user.email "<>"

      - name: commit 
        run: |
          # commit and push
          git add diff-html-list.txt
          git commit -m "update list of current html files"
          git push origin main

    
